<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="korisnik/header :: header"></div>
<body>
<div th:replace="korisnik/header :: navbar"></div>
<div class="container" style="text-align: left">
  <div class="row">
    <div class="col-md-9">
      <h1 th:text="${dogadjaj.naziv}"></h1>
      <img th:src="${dogadjaj.slika}" width="400px">
      <h4 th:text="${dogadjaj.datum}"></h4>
      <hr />
      <div th:utext="${dogadjaj.opis}">
      </div>
      <br>
      <div>
        <div class="card">
          <div class="card-header">
            <h1>Ostavite komentar</h1>
          </div>
          <div class="card-body">
            <form role="form" method="post" th:action="@{/{dogadjajUrl}/komentari(dogadjajUrl=${dogadjaj.url})}" th:object="${komentar}">
              <div class="row">
                <div class="col-md-5 mb-3">
                  <input
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Unesite email"
                          th:field="*{email}"
                          type="text"
                  />
                  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
              </div>
                <div class="row">
                  <div class="col-md-9 mb-3">
                                <textarea
                                        class="form-control"
                                        id = "tekst"
                                        name="tekst"
                                        placeholder="Unesite komentar"
                                        rows="8"
                                        th:field="*{tekst}"
                                >
                                </textarea>
                    <p th:if="${#fields.hasErrors('tekst')}" th:errors="*{tekst}" class="text-danger"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-5">
                    <button
                            class="btn btn-danger"
                            type="submit"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <br/>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
      </div>
    </div>
<div class="col-md-3">
  <h4>Komentari:</h4>
  <div th:each = "komentar: ${dogadjaj.komentari}">
    <div>
      <p><b>Name:</b><strong th:text="${komentar.email}"></strong></p>
      <p><b>Date:<strong th:text="${#temporals.format(komentar.datum, 'dd MMMM yyyy')}"></strong></b></p>
      <p th:text="${komentar.tekst}"></p>
      <br />
    </div>
  </div>
</div>
  </div>
</div>
<div th:replace="korisnik/footer :: footer"></div>
</body>
</html>